.calluna {
    font-size: 36px;
    letter-spacing: 1.4px;
    font-family: "Calluna";
  }
  .calibre {
    letter-spacing: 1.8px;
    font-family: "calibre";
    font-size: 12px;
    line-height: 1;
  }
  #info-slider {
    background-image: url(https://images.forestessentialsindia.com/pub/media/testimonials/ayurvedic-testimonial02nove21.jpg);
    margin: 20px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 98px 50px;
    background-position: center;
    display: flex;
  }
  .info-slider-bar-top{
    width: 20px;
    height: 1px;
    margin-bottom: 5px;
    border-top: 1px solid black;

  }
  .info-slider-heading{
    padding: 0px 50px;
  }
  .info-slider-top-para,.info-slider-bar-top-div{
    padding: 0px 50px;
  }
  .slide-info {
    width: 25%;
    background: rgba(251, 249, 249, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 12px;
    margin: 0px 0.4%;
  }
  .slide-para-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }
  .slide-para-box > p {
    width: 100%;
    height: 100%;
    margin: 1px 0px;
    color: #000;
  }
  .slide-para-box::-webkit-scrollbar {
    height: 50px;
    width: 3px;
    border-radius: 6px;
  }
  /* Track */
  .slide-para-box::-webkit-scrollbar-track {
    background: rgba(124, 124, 124, 0.6);
  }

  /* Handle */
  .slide-para-box::-webkit-scrollbar-thumb {
    background: rgba(119, 119, 119, 0.533);
  }
  .fa-quote-left:before {
    content: "\f10d";
  }
  .inverted-symbol {
    color: #888888;
    height: 20px;
    width: 20px;
  }
  .symbol {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .info-slider-bar > .bottom-bar {
    height: 1px;
    width: 20px;
    border-bottom: 2px solid black;
    margin: 15px 0px;
  }
  .info-slider-bar {
    width: 100%;
    display: flex;
    justify-content: left;
  }
  .personal-info-slider {
    width: 100%;
    margin: 0px;
  }
  .personal-info-slider > .info-slider-name {
    margin-left: 0px;
    margin-top: 10px;
  }
  .info-slider-name > h3 {
    color: #2d2c2c;
    font-weight: 700;
    margin: 0px;
    font-size: 14px;
  }
  .info-slider-name > p {
    margin: 0px;
    margin-top: 3px;
  }